<div style="color:#006666; padding:0px 10px; border-radius:5px; font-size:18px; text-align:center"><h1 style='margin:10px 5px'>Import and Export Data</h1>
<hr>
<p style="color:#006666; text-align:right;font-size:10px">
Copyright by MachineLearningPlus. All Rights Reserved.
</p>

</div>

We don't usually create the arrays that we work with. You need to be able to bring data present in another file to Numpy.

Numpy provides useful functions to load data from an external file and save it as well.


<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:7px 5px; font-size:16px'>Import Data</h2>
</div>

The main import methods are:

1. numpy.loadtxt()
2. numpy.genfromtext()

Use `np.loadtxt` when there is no missing data.

In [1]:
import numpy as np
data = np.loadtxt('Datasets/data.txt', delimiter="\t")
data

array([[ 1.     , 87.     , 57.54435],
       [ 2.     ,  8.     ,  7.31704],
       [ 3.     , 56.     , 56.82095],
       [ 4.     , 63.     , 64.15579],
       [ 5.     ,  2.     ,  5.74522],
       [ 6.     , 45.     , 19.56758],
       [ 7.     , 43.     , 39.62271],
       [ 8.     , 47.     , 34.95107],
       [ 9.     ,  2.     ,  9.38692],
       [10.     , 79.     , 36.41022],
       [11.     , 67.     , 49.83894],
       [12.     , 24.     , 23.47974],
       [13.     , 61.     , 72.55357],
       [14.     , 85.     , 39.24693],
       [15.     , 63.     , 53.6279 ],
       [16.     ,  2.     , 16.72441],
       [17.     , 29.     , 37.25533],
       [18.     , 45.     , 18.78498],
       [19.     , 33.     , 19.8089 ],
       [20.     , 28.     , 46.03384],
       [21.     , 21.     , 23.7864 ],
       [22.     , 27.     , 44.42627],
       [23.     , 65.     , 34.94804],
       [24.     , 61.     , 53.49576],
       [25.     , 10.     , 25.98564]])

In [2]:
data[0, :]

array([ 1.     , 87.     , 57.54435])

In [4]:
type(data)

numpy.ndarray

When there are missing values, it errors out.

In [5]:
data = np.loadtxt('Datasets/data_miss.txt', delimiter="\t")
data

ValueError: could not convert string to float:

In such situation, use `np.genfromtxt()`. It fills in missing data with `nan`.

In [6]:
data = np.genfromtxt('Datasets/data_miss.txt', delimiter="\t")
data

array([[ 1.     , 87.     , 57.54435],
       [ 2.     ,  8.     ,  7.31704],
       [ 3.     , 56.     , 56.82095],
       [ 4.     , 63.     , 64.15579],
       [ 5.     ,  2.     ,  5.74522],
       [ 6.     , 45.     , 19.56758],
       [ 7.     , 43.     , 39.62271],
       [ 8.     , 47.     , 34.95107],
       [ 9.     ,  2.     ,      nan],
       [10.     , 79.     , 36.41022],
       [11.     , 67.     , 49.83894],
       [12.     , 24.     ,      inf],
       [13.     , 61.     , 72.55357],
       [14.     , 85.     , 39.24693],
       [15.     , 63.     , 53.6279 ],
       [16.     ,  2.     , 16.72441],
       [17.     , 29.     ,      nan],
       [18.     , 45.     , 18.78498],
       [19.     , 33.     , 19.8089 ],
       [20.     , 28.     , 46.03384],
       [21.     , 21.     , 23.7864 ],
       [22.     , 27.     , 44.42627],
       [23.     , 65.     , 34.94804],
       [24.     , 61.     , 53.49576],
       [25.     , 10.     , 25.98564]])

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:7px 5px; font-size:16px'>CSV File</h2>
</div>

Let's try loading a csv file with column names.

By default, it takes the dtype as `float`. In such cases, the text fields will go missing.

In [7]:
data = np.genfromtxt('Datasets/Mall_Customers.csv', delimiter=",")
data

array([[ nan,  nan,  nan,  nan,  nan],
       [  1.,  nan,  19.,  15.,  39.],
       [  2.,  nan,  21.,  15.,  81.],
       ...,
       [198.,  nan,  32., 126.,  74.],
       [199.,  nan,  32., 137.,  18.],
       [200.,  nan,  30., 137.,  83.]])

So, explicitly mention the datatype.

In [8]:
# Change dtype and skip header
data = np.genfromtxt('Datasets/Mall_Customers.csv', 
                     delimiter=",", 
                     dtype='object',
                    skip_header=1)

data[:5, :]

array([[b'1', b'Male', b'19', b'15', b'39'],
       [b'2', b'Male', b'21', b'15', b'81'],
       [b'3', b'Female', b'20', b'16', b'6'],
       [b'4', b'Female', b'23', b'16', b'77'],
       [b'5', b'Female', b'31', b'17', b'40']], dtype=object)

The problem with this is, the numbers are identified as bytes and not as numbers. So doing math is not easy.

In [9]:
# Divide 3rd col by 2nd col. ERROR!
data[:, 3] / data[:, 2]

TypeError: unsupported operand type(s) for /: 'bytes' and 'bytes'

Convert to float and then divide. Works!

In [10]:
output = data[:, 3].astype('float') / data[:, 2].astype('float')
output[:10]

array([0.78947368, 0.71428571, 0.8       , 0.69565217, 0.5483871 ,
       0.77272727, 0.51428571, 0.7826087 , 0.296875  , 0.63333333])

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:7px 5px; font-size:16px'>Better Way: Define the Data Type and then import</h2>
</div>

In [11]:
dt = np.dtype({'names': ["CustomerID", "Genre", "Age", "Annual_Income", "Spending_Score"],
               'formats': [np.int16, 'U16', np.int16, np.int16, np.int16]})

In [12]:
# Change dtype and skip header
data = np.genfromtxt('Datasets/Mall_Customers.csv', 
                     delimiter=",", 
                     dtype=dt,
                    skip_header=1)

data[:15]

array([( 1, 'Male', 19, 15, 39), ( 2, 'Male', 21, 15, 81),
       ( 3, 'Female', 20, 16,  6), ( 4, 'Female', 23, 16, 77),
       ( 5, 'Female', 31, 17, 40), ( 6, 'Female', 22, 17, 76),
       ( 7, 'Female', 35, 18,  6), ( 8, 'Female', 23, 18, 94),
       ( 9, 'Male', 64, 19,  3), (10, 'Female', 30, 19, 72),
       (11, 'Male', 67, 19, 14), (12, 'Female', 35, 19, 99),
       (13, 'Female', 58, 20, 15), (14, 'Female', 24, 20, 77),
       (15, 'Male', 37, 20, 13)],
      dtype=[('CustomerID', '<i2'), ('Genre', '<U16'), ('Age', '<i2'), ('Annual_Income', '<i2'), ('Spending_Score', '<i2')])

In [13]:
data.shape

(200,)

In [14]:
data[0]['Age']

19

In [15]:
data[0]['Genre']

'Male'

In [16]:
data['Age']

array([19, 21, 20, 23, 31, 22, 35, 23, 64, 30, 67, 35, 58, 24, 37, 22, 35,
       20, 52, 35, 35, 25, 46, 31, 54, 29, 45, 35, 40, 23, 60, 21, 53, 18,
       49, 21, 42, 30, 36, 20, 65, 24, 48, 31, 49, 24, 50, 27, 29, 31, 49,
       33, 31, 59, 50, 47, 51, 69, 27, 53, 70, 19, 67, 54, 63, 18, 43, 68,
       19, 32, 70, 47, 60, 60, 59, 26, 45, 40, 23, 49, 57, 38, 67, 46, 21,
       48, 55, 22, 34, 50, 68, 18, 48, 40, 32, 24, 47, 27, 48, 20, 23, 49,
       67, 26, 49, 21, 66, 54, 68, 66, 65, 19, 38, 19, 18, 19, 63, 49, 51,
       50, 27, 38, 40, 39, 23, 31, 43, 40, 59, 38, 47, 39, 25, 31, 20, 29,
       44, 32, 19, 35, 57, 32, 28, 32, 25, 28, 48, 32, 34, 34, 43, 39, 44,
       38, 47, 27, 37, 30, 34, 30, 56, 29, 19, 31, 50, 36, 42, 33, 36, 32,
       40, 28, 36, 36, 52, 30, 58, 27, 59, 35, 37, 32, 46, 29, 41, 30, 54,
       28, 41, 36, 34, 32, 33, 38, 47, 35, 45, 32, 32, 30], dtype=int16)

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:7px 5px; font-size:16px'>Export Data and Load it back</h2>
</div>

If it's a single array, save it in `.npy` format. If you have multiple arrays to save in same file, use `.npz` format.

In [17]:
# Store the arrays to disk

# Single array
np.save('TEMP/output.npy', output)

# Multiple arrays: arrays will be save with names "arr_0", "arr_1",..
np.savez('TEMP/outputs.npz', output, data)

Load it back

In [18]:
# Single array
a = np.load('TEMP/output.npy')
a[:5]

array([0.78947368, 0.71428571, 0.8       , 0.69565217, 0.5483871 ])

Set `allow_pickle=True` for multidimensional arrays.

In [19]:
# Multiple arrays
b = np.load('TEMP/outputs.npz', allow_pickle=True)
b

See the arrays stored in it.

In [20]:
b.files

['arr_0', 'arr_1']

In [21]:
b['arr_0'][:5]

array([0.78947368, 0.71428571, 0.8       , 0.69565217, 0.5483871 ])

In [22]:
b['arr_1']

array([(  1, 'Male', 19,  15, 39), (  2, 'Male', 21,  15, 81),
       (  3, 'Female', 20,  16,  6), (  4, 'Female', 23,  16, 77),
       (  5, 'Female', 31,  17, 40), (  6, 'Female', 22,  17, 76),
       (  7, 'Female', 35,  18,  6), (  8, 'Female', 23,  18, 94),
       (  9, 'Male', 64,  19,  3), ( 10, 'Female', 30,  19, 72),
       ( 11, 'Male', 67,  19, 14), ( 12, 'Female', 35,  19, 99),
       ( 13, 'Female', 58,  20, 15), ( 14, 'Female', 24,  20, 77),
       ( 15, 'Male', 37,  20, 13), ( 16, 'Male', 22,  20, 79),
       ( 17, 'Female', 35,  21, 35), ( 18, 'Male', 20,  21, 66),
       ( 19, 'Male', 52,  23, 29), ( 20, 'Female', 35,  23, 98),
       ( 21, 'Male', 35,  24, 35), ( 22, 'Male', 25,  24, 73),
       ( 23, 'Female', 46,  25,  5), ( 24, 'Male', 31,  25, 73),
       ( 25, 'Female', 54,  28, 14), ( 26, 'Male', 29,  28, 82),
       ( 27, 'Female', 45,  28, 32), ( 28, 'Male', 35,  28, 61),
       ( 29, 'Female', 40,  29, 31), ( 30, 'Female', 23,  29, 87),
       ( 31, 'Male', 60,  30,  4), ( 32, 'Female', 21,  30, 73),
       ( 33, 'Male', 53,  33,  4), ( 34, 'Male', 18,  33, 92),
       ( 35, 'Female', 49,  33, 14), ( 36, 'Female', 21,  33, 81),
       ( 37, 'Female', 42,  34, 17), ( 38, 'Female', 30,  34, 73),
       ( 39, 'Female', 36,  37, 26), ( 40, 'Female', 20,  37, 75),
       ( 41, 'Female', 65,  38, 35), ( 42, 'Male', 24,  38, 92),
       ( 43, 'Male', 48,  39, 36), ( 44, 'Female', 31,  39, 61),
       ( 45, 'Female', 49,  39, 28), ( 46, 'Female', 24,  39, 65),
       ( 47, 'Female', 50,  40, 55), ( 48, 'Female', 27,  40, 47),
       ( 49, 'Female', 29,  40, 42), ( 50, 'Female', 31,  40, 42),
       ( 51, 'Female', 49,  42, 52), ( 52, 'Male', 33,  42, 60),
       ( 53, 'Female', 31,  43, 54), ( 54, 'Male', 59,  43, 60),
       ( 55, 'Female', 50,  43, 45), ( 56, 'Male', 47,  43, 41),
       ( 57, 'Female', 51,  44, 50), ( 58, 'Male', 69,  44, 46),
       ( 59, 'Female', 27,  46, 51), ( 60, 'Male', 53,  46, 46),
       ( 61, 'Male', 70,  46, 56), ( 62, 'Male', 19,  46, 55),
       ( 63, 'Female', 67,  47, 52), ( 64, 'Female', 54,  47, 59),
       ( 65, 'Male', 63,  48, 51), ( 66, 'Male', 18,  48, 59),
       ( 67, 'Female', 43,  48, 50), ( 68, 'Female', 68,  48, 48),
       ( 69, 'Male', 19,  48, 59), ( 70, 'Female', 32,  48, 47),
       ( 71, 'Male', 70,  49, 55), ( 72, 'Female', 47,  49, 42),
       ( 73, 'Female', 60,  50, 49), ( 74, 'Female', 60,  50, 56),
       ( 75, 'Male', 59,  54, 47), ( 76, 'Male', 26,  54, 54),
       ( 77, 'Female', 45,  54, 53), ( 78, 'Male', 40,  54, 48),
       ( 79, 'Female', 23,  54, 52), ( 80, 'Female', 49,  54, 42),
       ( 81, 'Male', 57,  54, 51), ( 82, 'Male', 38,  54, 55),
       ( 83, 'Male', 67,  54, 41), ( 84, 'Female', 46,  54, 44),
       ( 85, 'Female', 21,  54, 57), ( 86, 'Male', 48,  54, 46),
       ( 87, 'Female', 55,  57, 58), ( 88, 'Female', 22,  57, 55),
       ( 89, 'Female', 34,  58, 60), ( 90, 'Female', 50,  58, 46),
       ( 91, 'Female', 68,  59, 55), ( 92, 'Male', 18,  59, 41),
       ( 93, 'Male', 48,  60, 49), ( 94, 'Female', 40,  60, 40),
       ( 95, 'Female', 32,  60, 42), ( 96, 'Male', 24,  60, 52),
       ( 97, 'Female', 47,  60, 47), ( 98, 'Female', 27,  60, 50),
       ( 99, 'Male', 48,  61, 42), (100, 'Male', 20,  61, 49),
       (101, 'Female', 23,  62, 41), (102, 'Female', 49,  62, 48),
       (103, 'Male', 67,  62, 59), (104, 'Male', 26,  62, 55),
       (105, 'Male', 49,  62, 56), (106, 'Female', 21,  62, 42),
       (107, 'Female', 66,  63, 50), (108, 'Male', 54,  63, 46),
       (109, 'Male', 68,  63, 43), (110, 'Male', 66,  63, 48),
       (111, 'Male', 65,  63, 52), (112, 'Female', 19,  63, 54),
       (113, 'Female', 38,  64, 42), (114, 'Male', 19,  64, 46),
       (115, 'Female', 18,  65, 48), (116, 'Female', 19,  65, 50),
       (117, 'Female', 63,  65, 43), (118, 'Female', 49,  65, 59),
       (119, 'Female', 51,  67, 43), (120, 'Female', 50,  67, 57),
       (121, 'Male', 27,  67, 56), (122, 'Female', 38,  67, 40),
       (123, 'Female', 40,  69, 58), (124, 'Male', 39,  69, 91),
       (125, 'Female', 23,  70, 29), (126, 'Female', 31,  70, 77),
       (127, 'Male', 43,  71, 35), (128, 'Male', 40,  71, 95),
       (129, 'Male', 59,  71, 11), (130, 'Male', 38,  71, 75),
       (131, 'Male', 47,  71,  9), (132, 'Male', 39,  71, 75),
       (133, 'Female', 25,  72, 34), (134, 'Female', 31,  72, 71),
       (135, 'Male', 20,  73,  5), (136, 'Female', 29,  73, 88),
       (137, 'Female', 44,  73,  7), (138, 'Male', 32,  73, 73),
       (139, 'Male', 19,  74, 10), (140, 'Female', 35,  74, 72),
       (141, 'Female', 57,  75,  5), (142, 'Male', 32,  75, 93),
       (143, 'Female', 28,  76, 40), (144, 'Female', 32,  76, 87),
       (145, 'Male', 25,  77, 12), (146, 'Male', 28,  77, 97),
       (147, 'Male', 48,  77, 36), (148, 'Female', 32,  77, 74),
       (149, 'Female', 34,  78, 22), (150, 'Male', 34,  78, 90),
       (151, 'Male', 43,  78, 17), (152, 'Male', 39,  78, 88),
       (153, 'Female', 44,  78, 20), (154, 'Female', 38,  78, 76),
       (155, 'Female', 47,  78, 16), (156, 'Female', 27,  78, 89),
       (157, 'Male', 37,  78,  1), (158, 'Female', 30,  78, 78),
       (159, 'Male', 34,  78,  1), (160, 'Female', 30,  78, 73),
       (161, 'Female', 56,  79, 35), (162, 'Female', 29,  79, 83),
       (163, 'Male', 19,  81,  5), (164, 'Female', 31,  81, 93),
       (165, 'Male', 50,  85, 26), (166, 'Female', 36,  85, 75),
       (167, 'Male', 42,  86, 20), (168, 'Female', 33,  86, 95),
       (169, 'Female', 36,  87, 27), (170, 'Male', 32,  87, 63),
       (171, 'Male', 40,  87, 13), (172, 'Male', 28,  87, 75),
       (173, 'Male', 36,  87, 10), (174, 'Male', 36,  87, 92),
       (175, 'Female', 52,  88, 13), (176, 'Female', 30,  88, 86),
       (177, 'Male', 58,  88, 15), (178, 'Male', 27,  88, 69),
       (179, 'Male', 59,  93, 14), (180, 'Male', 35,  93, 90),
       (181, 'Female', 37,  97, 32), (182, 'Female', 32,  97, 86),
       (183, 'Male', 46,  98, 15), (184, 'Female', 29,  98, 88),
       (185, 'Female', 41,  99, 39), (186, 'Male', 30,  99, 97),
       (187, 'Female', 54, 101, 24), (188, 'Male', 28, 101, 68),
       (189, 'Female', 41, 103, 17), (190, 'Female', 36, 103, 85),
       (191, 'Female', 34, 103, 23), (192, 'Female', 32, 103, 69),
       (193, 'Male', 33, 113,  8), (194, 'Female', 38, 113, 91),
       (195, 'Female', 47, 120, 16), (196, 'Female', 35, 120, 79),
       (197, 'Female', 45, 126, 28), (198, 'Male', 32, 126, 74),
       (199, 'Male', 32, 137, 18), (200, 'Male', 30, 137, 83)],
      dtype=[('CustomerID', '<i2'), ('Genre', '<U16'), ('Age', '<i2'), ('Annual_Income', '<i2'), ('Spending_Score', '<i2')])