<div style="color:#006666; padding:0px 10px; border-radius:5px; font-size:18px; text-align:center"><h1 style='margin:10px 5px'>Handling Dates</h1>
<hr>
<p style="color:#006666; text-align:right;font-size:10px">
Copyright by MachineLearningPlus. All Rights Reserved.
</p>

</div>

In [1]:
import numpy as np
  
# Creating a date
today = np.datetime64('2000-12-31')
print("Date is:", today)

Date is: 2000-12-31

Date Representations

In [2]:
print("Year is         :", np.datetime64(today, 'Y'))
print("Month is        :", np.datetime64(today, 'M'))
print("Date is         :", np.datetime64(today, 'D'))
print("Hour is         :", np.datetime64(today, 'h'))
print("Minute is       :", np.datetime64(today, 'm'))
print("Second is       :", np.datetime64(today, 's'))
print("Milli Second is :", np.datetime64(today, 'ms'))
print("Nano Second is  :", np.datetime64(today, 'ns'))

Year is         : 2000
Month is        : 2000-12
Date is         : 2000-12-31
Hour is         : 2000-12-31T00
Minute is       : 2000-12-31T00:00
Second is       : 2000-12-31T00:00:00
Milli Second is : 2000-12-31T00:00:00.000
Nano Second is  : 2000-12-31T00:00:00.000000000

In [3]:
today_s = np.datetime64(today, 's')
today_s

numpy.datetime64('2000-12-31T00:00:00')

You can pass the time as a string as well

In [4]:
today_s = np.datetime64('2000-12-31 00:00:00')
today_s

numpy.datetime64('2000-12-31T00:00:00')

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:7px 5px; font-size:16px'>Sequence of Dates</h2>
</div>

In [5]:
# creating array of dates in a month
dates = np.arange('2001-02', '2001-03', dtype='datetime64[D]')
print("\nDates of February, 2017:\n", dates)
print("Today is February:", today in dates)

Dates of February, 2017:
 ['2001-02-01' '2001-02-02' '2001-02-03' '2001-02-04' '2001-02-05'
 '2001-02-06' '2001-02-07' '2001-02-08' '2001-02-09' '2001-02-10'
 '2001-02-11' '2001-02-12' '2001-02-13' '2001-02-14' '2001-02-15'
 '2001-02-16' '2001-02-17' '2001-02-18' '2001-02-19' '2001-02-20'
 '2001-02-21' '2001-02-22' '2001-02-23' '2001-02-24' '2001-02-25'
 '2001-02-26' '2001-02-27' '2001-02-28']
Today is February: False

__Number of Days between two dates__

In [6]:
# arithmetic operation on dates
dur = np.datetime64('2017-05-22') - np.datetime64('2016-05-22')
print("\nNo. of days:", dur)
print("No. of weeks:", np.timedelta64(dur, 'W'))

No. of days: 365 days
No. of weeks: 52 weeks

__Sort Dates__

In [7]:
# sorting dates
a = np.array(['2017-02-12', '2016-10-13', '2019-05-22'], dtype='datetime64')
print("\nDates in sorted order:", np.sort(a))

Dates in sorted order: ['2016-10-13' '2017-02-12' '2019-05-22']

__Next Business Day__

_Add 1 business day_

In [8]:
np.busday_offset('2011-06-23', 1)

numpy.datetime64('2011-06-24')

_Add two business days_

In [9]:
np.busday_offset('2011-06-23', 2)

numpy.datetime64('2011-06-27')

_Add two regular days_

In [10]:
after_2_days = np.datetime64('2011-06-23', 'D') + np.timedelta64(2, 'D')
after_2_days

numpy.datetime64('2011-06-25')

__Number of Business days__

In [11]:
np.busday_count(np.datetime64('2001-01-01'), np.datetime64('2001-01-31'))

22

__Example: First Friday of a given month__

In [12]:
# First friday of given month
yearMonth = '2010-02'
  
# getting date of first friday
date = np.busday_offset(yearMonth, 0, 
                        roll='forward', 
                        weekmask='Fri')
  
print(date)

2010-02-05

__Example: Last Friday of a given month__

In [13]:
# last friday of given month
yearMonth = '2010-02'

# Go to next month and roll backward
nextMonth = '2010-03'    
    
# getting date of first friday
date = np.busday_offset(nextMonth, 0, 
                           roll='backward', 
                           weekmask='Fri')
  
print(date)

2010-02-26

__Convert to datetime Object__

In [14]:
from datetime import datetime
np.datetime64('2005-05-05').astype(datetime)

datetime.date(2005, 5, 5)

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:7px 5px; font-size:16px'>Mini Challenge</h2>
</div>

Make a python numpy `arange` array of dates (for every 2 days) with:

- Start Date: "2000-01-01"
- End Date: "2000-01-31"

Using: 

1. np.datetime64
2. datetime.datetime (optional)

In [15]:
import numpy as np
import datetime

__1__

In [16]:
# 1. solution
dates = np.arange('2000-01-01', '2000-01-31', 2, dtype='datetime64[D]')
dates

array(['2000-01-01', '2000-01-03', '2000-01-05', '2000-01-07',
       '2000-01-09', '2000-01-11', '2000-01-13', '2000-01-15',
       '2000-01-17', '2000-01-19', '2000-01-21', '2000-01-23',
       '2000-01-25', '2000-01-27', '2000-01-29'], dtype='datetime64[D]')

__2__

In [17]:
# 2. solution
base = datetime.datetime(2000, 1, 1)
arr = np.array([base + datetime.timedelta(days=i) for i in range(0, 31, 2)])
print(arr)

[datetime.datetime(2000, 1, 1, 0, 0) datetime.datetime(2000, 1, 3, 0, 0)
 datetime.datetime(2000, 1, 5, 0, 0) datetime.datetime(2000, 1, 7, 0, 0)
 datetime.datetime(2000, 1, 9, 0, 0) datetime.datetime(2000, 1, 11, 0, 0)
 datetime.datetime(2000, 1, 13, 0, 0) datetime.datetime(2000, 1, 15, 0, 0)
 datetime.datetime(2000, 1, 17, 0, 0) datetime.datetime(2000, 1, 19, 0, 0)
 datetime.datetime(2000, 1, 21, 0, 0) datetime.datetime(2000, 1, 23, 0, 0)
 datetime.datetime(2000, 1, 25, 0, 0) datetime.datetime(2000, 1, 27, 0, 0)
 datetime.datetime(2000, 1, 29, 0, 0) datetime.datetime(2000, 1, 31, 0, 0)]